ul, li, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 180px);
  padding: 0 90px;
  background-color: #4B4975;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  min-height: 70px;
}
.header__nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  gap: 66px;
}
.header__nav ul li {
  color: #FEBE71;
}
.header__nav ul li :hover {
  color: #FFEFDB;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 180px);
  padding: 0 90px;
  background-color: #4B4975;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  min-height: 170px;
}
.footer__nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  gap: 66px;
}
.footer__nav ul li {
  color: #FEBE71;
}
.footer__nav ul li :hover {
  color: #FFEFDB;
}
.footer__nav ul {
  flex-direction: column;
  gap: 5px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  background-color: #FEBE71;
  flex-direction: row;
}
.section__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 23px;
  border: 10px solid #FFDCB0;
  border-radius: 5px;
  background-color: #FFEFDB;
}
.section__left ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section__left form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 55px;
}
.section__left form select {
  position: relative;
  appearance: none;
  width: 100%;
  padding: 30px 35px 30px 35px;
  background-color: #8A87C0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.section__left form select ::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 35px;
  transform: translate(0, -50%);
  width: 45px;
  height: 45px;
  background-color: #000000;
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}
.section__left form button, .section__left form input {
  appearance: none;
  width: 100%;
  padding: 30px 35px 30px 35px;
  background-color: #8A87C0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.section__left form label {
  display: none;
}
.section__left form input {
  width: calc(100% - 70px);
}
.section__left .grope {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section__left .grope div {
  background-color: #9593BF;
  border: 2px solid #19148A;
  border-radius: 5px;
  padding: 30px;
  max-width: 430px;
}

.section--form {
  flex-direction: column;
  gap: 20px;
}

/*# sourceMappingURL=index.css.map */
